blinker==1.4
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
cloudpickle==0.5.3
cmake==3.11.0
colorama==0.3.9
colorcorrect==0.8
colorlog==3.1.4
colormap==1.0.1
coverage==4.5.1
cycler==0.10.0
dask==0.18.1
decorator==4.3.0
Django==2.0.7
dlib==19.14.0
easydev==0.9.37
face-recognition==1.2.2
face-recognition-models==0.3.0
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.3.2
future==0.16.0
google-api-core==1.2.1
google-auth==1.5.0
google-cloud-vision==0.32.0
googleapis-common-protos==1.5.3
grpcio==1.13.0
idna==2.7
image==1.5.24
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
networkx==2.1
numpy==1.14.5
oauthlib==2.1.0
pexpect==4.6.0
Pillow==5.2.0
pkg-resources==0.0.0
protobuf==3.15.0
psycopg2==2.7.5
ptyprocess==0.6.0
pyasn1==0.4.3
pyasn1-modules==0.2.2
pyparsing==2.2.0
python-dateutil==2.7.3
python-twitter==3.4.2
pytz==2018.5
PyWavelets==0.5.2
requests==2.19.1
requests-oauthlib==1.0.0
rsa==3.4.2
scikit-image==0.14.0
scipy==1.1.0
six==1.11.0
SQLAlchemy==1.2.9
toolz==0.9.0
urllib3==1.23
Werkzeug==0.14.1
