
{% extends"base.html"%}


{% block head %}
<nav class="navbar navbar-dark"style="background-color:black">
    <img src="https://lacedinleather.files.wordpress.com/2012/05/hfow_medium_2_beige_swatch.jpg"width="30"height="30"alt="">
  <a href="/home"style="color:white">Home</a>  <a href='/submit_image'style="color:white">Submit an Image for Matching</a> <a href="/view_favorites"style="color:white">View My Favorites</a> <a href="/logout"> <input type="button"value="Logout"/> </a>
</nav>

<style> 

#myphotos {
  width:100%;
  height:400;
  overflow-x:scroll;
  overflow-y:hidden;
  white-space:nowrap;
}

#myphotos a{
  display:inline-block;
  vertical-align:middle;
}

</style>

{% endblock %}


{% block content %}

<h2 style="text-align:center;font-size:5em; margin-top:6%"> Please Select An Image to View Matches </h2>
<div class="container-fluid">
<div id="myphotos"> 
{% for image in user_images %}
    <a href="/display_matches/{{image.image_id}}"> <img style="width:400px; height:400px"src="{{image.image_location[36:]}}"> 
    </a>
{% endfor %} 
</div> 
</div>

  
{% endblock %}