{% extends "base.html" %}


{% block head %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  <a href="/logout"> <input type="button" value="Logout" /> </a>
</nav>

{% endblock %}


{% block content %}
<div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            {% for foundation in foundation_products %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img width="200" height="200" src="{{ foundation.hero_image_url }}">
                <div class="card-body">
                  <p class="card-text">{{ foundation.brand.brand_name }}</p>
                  <p class="card-text">{{ foundation.brand.display_name }}</p>
                  <p class="card-text"> Avg Customer Rating: {{ foundation.brand.rating }} </p> 
                  <div> Shade Sample : <img src="https://{{ foundation.shade_image_url }}"> </div>
                  <br> 
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://{{ foundation.foundation_target_url }}">
                        <input type="button" value="View This Product" />
                        </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}

{% endblock %}
            
