{% extends'base.html'%}


{% block content %}
<style> 
body {background-color: black;}
</style>



<h2 style="margin-top:6%; text-align:center; font-size: 6rem; color:white"> Throwing Shade</h2>
<h2 style="text-align:center; font-size: 4rem; color:white"> A Foundation Matching Application </h2>
<br>
<br>
<div class="container">
  <div class="row"style="height:41%">
    <div class="col-md-4 mx-auto">
      <form action="/login"method="Post">
  <div class="form-group">
    <label for="exampleInputEmail1"style="color:white">Email address</label>
    <input type="email"class="form-control"id="user_email"name="user_email"aria-describedby="emailHelp"placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"style="color:white">Password</label>
    <input type="password"class="form-control"id="user_email"name="user_password"placeholder="Password">
  </div>
  <button type="submit"class="btn btn-primary"style="margin-left:40%">Login</button>
</form>

<a href='/registration'style="margin-left:25%">I Would Like to Register</a>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small special-color-dark">

    <!-- Footer Elements -->

      <!-- Social buttons -->
      <ul style="margin-bottom: 0rem;"class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a style="color:white"target="_blank"href="https://github.com/shirleyilenechan/Foundation_Project"class="btn-floating btn-fb mx-1">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a style="color:white"target="_blank"href="https://www.linkedin.com/in/shirleyilenechan/"class="btn-floating btn-tw mx-1">
            <i class="fab fa-linkedin"></i>
          </a>
      </ul>
      <!-- Social buttons -->

    <!-- Footer Elements -->

    <!-- Copyright -->
    <div style="color:white"class="footer-copyright text-center"> Throwing Shade <br>
            © 2018 Copyright Shirley Chan
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

{% endblock %}
