{% extends'base.html'%}

{% block content %}

<div class="container"style="height:100%; margin-top:15%">

<form action ='/registration', method="post">

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="first_name">First Name</label>
      <input type="text"class="form-control"name="first_name"id="first_name"placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <label for="last_name">Last Name</label>
      <input type="text"class="form-control"name="last_name"id="last_name"placeholder="Last Name">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
    <label for="email">Email</label>
    <input type="text"class="form-control"name="email"id="email"placeholder="Email">
    </div>  
    <div class="form-group col-md-6">
      <label for="password">Password</label>
      <input type="text"class="form-control"name="password"id="password"placeholder="Password">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="birthday_month">Month</label>
      <select name="birthday_month"id="birthday_month"class="form-control">
        {% for month in months %}
        <option value={{ month}}> {{month}} </option>
        {% endfor %}
      </select>
    </div>
    
    <div class="form-group col-md-4">
      <label for="birthday_day">Day</label>
      <select name="birthday_day"id="birthday_day"class="form-control">
        {% for day in days %}
        <option value={{ day}}>{{day}} </option>
        {% endfor %}
      </select>
    </div>
    
    <div class="form-group col-md-4">
      <label for="birthday_year">Year</label>
      <select name="birthday_year"class="form-control"id="birthday_year">
        {% for year in years %}
        <option value={{ year}}> {{year}} </option> 
        {% endfor %}
      </select>
    </div>
  </div>
  <br>
  <input type="submit"class="btn btn-primary"value="Register"style="
    margin-left:45%;">

</form>

</div>
{% endblock %}
