{% extends'base.html'%}

{% block head %}
<nav class="navbar navbar-dark"style="background-color:black">
    <img src="/static/ThrowingShade.png"width="180"height="30">
    <a href="/home"style="color:white">Home</a> <a href="/select_image"style="color:white">Select an Image to View My Matches</a> <a href="/view_favorites"style="color:white">View My Favorites</a> <a href="/logout"> <input type="button"value="Logout"/> </a>
</nav>

{% endblock %}



{% block content %}

<h2 id="header"style="margin-top:10%; text-align:center; font-size: 6rem;">Upload an Image</h2>

<br>

<form action ="/submit_image"id="imageuploadform"method="post"enctype="multipart/form-data"style="margin-left:35%">
 <div id>
   <label for="userimage">Choose Image File to Upload</label>
   <input type="file"id="userimage"name="userimage"accept=".jpg, .jpeg, .png">
 </div>
 <div>
   <button id="submitButton"onclick="return checkFileSize(event)">Submit</button>
 </div>

 <div id="loader-wrapper"class="hidden">
    <div id="loader"></div>
</div>

</form>

<script src="/static/checkfilesize.js"> </script>
<script src="/static/uploadfile.js"> </script> 

{% endblock %}